<!--main uslugi-->
<div class="main_uslugi col-md-10">
  <div class="door_uslugi col-sm-12">
    <h3>Наши услуги</h3>
    <p>Мы предлагаем, и купить, и установить межкомнатные двери по доступной цене! Так Вы сможете сэкономить и финансовые средства, и драгоценное время. Ведь купить двери межкомнатные с установкой в одном месте - это очень удобно. При этом необязательно куда-то ехать. Вы можете ознакомиться с каталогом продукции и выбрать товар. А затем купить межкомнатные двери с доставкой. И это далеко не все возможности, предлагаемые нами. Установка межкомнатных перегородок также осуществима в нашей компании.</br>

      Наши специалисты имеют огромный опыт работы, вооружены теоретическими знаниями. Сотрудники используют только качественные, надежные строительные материалы от известных производителей.</p>
    <h4>Установка дверей.</h4>
    <p>Установка дверей* от нашей компании включает в себя следющий список услуг:</p>
    <ul>
      <li>врезку петель и ручки с защелкой;</li>
      <li>сборку коробки  и установку коробки по горизонтальному и вертикальному уровню;</li>
      <li>крепление конструкции в проем;</li>
      <li>сглаживание технологических зазоров с помощью пены;</li>
      <li>крепление наличников с двух сторон.</li>
    </ul>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Наименование услуги</th>
        <th>Цена(руб/шт)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Установка одностворчатой двери с врезанной фурнитурой (от 2-х шт)</td>
        <td>1500</td>
      </tr>
      <tr>
        <td>Установка одностворчатой двери от 2-х шт</td>
        <td>2000</td>
      </tr>
      <tr>
        <td>Установка цельностеклянной двери</td>
        <td>3500</td>
      </tr>
      <tr>
        <td>Установка раздвижной двери (купе)</td>
        <td>3000</td>
      </tr>
      <tr>
        <td>Установка <strong>одной двери</strong></td>
        <td>3500</td>
      </tr>
      </tbody>
    </table>
    <p>Стоимость установки дверей не включает в себя расходы на материалы.</p>
  </div>
</div>
<!--main uslugi end -->