<!--main news-->
<div id="main_news" class="thumbnail">
    <h3>Новости и Акции</h3>
    <div class="door_article">
    <div class="news_img col-sm-3">
      <a href="#" ><img src="img/news_1.jpg" width="200" height="115" alt="Как правильно выбрать дверь."></a>
    </div>
    <div class="news_artice col-sm-8">
      <a href="#">Как правильно выбрать дверь</a>
      <p>Сегодня на рынке строительных материалов представлен большой выбор межкомнатных дверей из различных материалов, которые могут отличатся не только по функциональному назначению, но и особенностью конструкции.
        Чтобы самостоятельно правильно подобрать межкомнатную дверь необходимо чётко определится с её функциями.<a href=#>[...]</a>
      </p>
      </div>
    </div>
    <div class="door_article promo">
    <div class="news_img col-sm-3">
      <a href="#" ><img src="img/akcii.png" width="200" height="115"  alt="Как правильно выбрать дверь."></a>
    </div>
    <div class="news_artice col-sm-8">
      <a href="#">Акция только до 2 сентября!</a>
      <p>Купите три межкомнатные двери марки "Порте Виста" и получите установку дверей бесплатно!
        Подробнее об акции, спрашивайте, у нашего оператора!
        егодня на рынке строительных материалов представлен большой выбор межкомнатных дверей из различных материалов, которые могут отличатся не только по функциональному назначению, но и особенностью конструкции.
        Чтобы самостоятельно правильно подобрать межкомнатную дверь необходимо чётко определится с её функциями<a href=#>[...]</a>
      </p>
      </div>
    </div>
    <div class="door_article">
    <div class="news_img col-sm-3">
      <a href="#" ><img src="img/news_2.jpg" width="200" height="115" alt="Из какого материала лучше выбрать дверь в детскую."></a>
    </div>
    <div class="news_artice col-sm-8">
      <a href="#">Как правильно установить дверь</a>
      <p>Сегодня на рынке строительных материалов представлен большой выбор межкомнатных дверей из различных материалов, которые могут отличатся не только по функциональному назначению, но и особенностью конструкции.
        Чтобы самостоятельно правильно подобрать межкомнатную дверь необходимо чётко определится с её функциями.<a href=#>[...]</a>
      </p>
    </div>
  </div>
</div>



<!--main news end -->