<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Оставлено сообщение в обратной связи на сайте</h1>
<p>
  Информация о сообщении:
</p>
<p>
  Имя - <%= @name %>
</p>
<p>Email - <%= @email %></p>
<p>Текст обращения: 
	<p><%= @text %></p></p>
</body>
</html>