<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Вам поступил новый заказ на выезд замерщика.</h1>
<p>
  Информация о клиенте:
</p>
<p>
  Имя - <%= @name %>
</p>
<p>Телефон - <%= @phone %></p>
</body>
</html>