/* 
@import "bootstrap-sprockets";
@import "bootstrap"; 
 */
body {
    background-image: image-url('whitewood_small.jpg');
    background-repeat: repeat;
}

.bold {
  font-weight: bold;
}
body h3, body h1 {
  background-color: #2956b2;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.3em;
  text-align: center;
}
body p {
  line-height: 1.5em;
}

/* navigation*/
#expo_nav_menu {
    background-color: #084c8d;
    margin-top: 1em;
    clear: both;
}

#expo_nav_menu a{
    color: white;
}

#expo_nav_menu a:hover{
    opacity: 0.5;
}

#link-to-cart {
    height: inherit;
    width: 100%;
    padding-bottom: 0.7em;
    padding-top: 0.4em;
}
#link-to-cart .glyphicon-shopping-cart{
    font-size: 1em;
    color: white;
}
/*navigation end*/

/* slidebar  */
#slidebar{
    width: 100%;
    margin-bottom: 1.5em;
}

#slidebar .carousel-inner{
    width: inherit;
    height: inherit;
}
#slidebar .carousel-inner img {
    width: 100%;
    height: 100%;
}
/* slidebar */
aside {
    margin-top: 1.5em;
}
/*#main {
    margin-top: 1.5em;
} */

 #foot {
    background-color: #dddddd;
   width:100%;
    height: 100%;
     margin-top: 2em;
      box-shadow: 0 0 15px -10px #ddd inset;
      border: 1px solid #ddd;
}

#foot h3{
    background-color: #dddddd;
    color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid #2956b2;
    font-size: 1.3em;
    font-weight: bold;
     box-shadow: 0 0 15px -10px #ddd inset;
}

.btn-info {
    background-color: #2956b2;
    margin-top: 0.5em;
}

.thumbnail {
    background-repeat: repeat;
    background-color: #dddddd;
    padding: 0;
    margin-bottom: 0;
     box-shadow: 0 0 15px -10px #ddd inset;
     border: 1px solid #ddd;
}
.head_part{
    margin-bottom: 1.5em;
}
.head_part h4{
    background-color: #2956b2;
    color: white;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.head_part li a{
    color: black;
    text-decoration: none;
}
.head_part li a:hover{
    color: #2956b2;
    padding-left: 0.3em;
    border-left: 0.3em solid #2956b2;
}

header {
    color: grey;
    height: 5em;
}
header figure img {
  width: inherit;
}


#header_promo, #phone_numbers{
  padding-top: 0.7em;
}

header #phone_numbers p.phone_nums{
  font-weight: bold;
  color: black;
}

#phone_numbers .glyphicon-earphone{
  color: #2956b2;
  padding-right: 0.5em;
}
.carousel-inner #photo{
    width: 20em;
    height: 20em;
}

#feedback {
    width: inherit;
    height: 20em;
    background-color: blue;
}
#zamer img{
    width:100%;
    height:100%;
    margin-bottom: 1.5em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #ddd;
}

#sale_promo{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #ddd;
}
#sale_promo img {
  width: 100%;
}
.carousel-inner .review {
    width: 30%;
    height: 30%;    
}
.benefits{
    margin-bottom: 1.5em;
}
.about_company{
  margin-bottom: 1.5em;
}
.door_about p{
  text-indent: 1em;
}
.glyphicon-shopping-cart, .glyphicon-credit-card, .glyphicon-wrench{
    font-size: 5em;
    color: #2956b2;
    margin-top: 0.5em;
    padding-bottom: 0px;
}
#catalog .thumbnail img {
    margin-top: 1em;
}

#text_form {
    height: 5em;
}
.door_install {
  margin-top: 1.5em;
}
.door_install table{
  margin-top: 1.5em;
}
.door_install ul{
  padding-left: 1.5em;
  list-style-type: disc;
}
.door_install thead{
  font-weight: bold;
}
.main_uslugi p {
  text-indent: 1em;
}
.main_uslugi table{
  background-color: #EFEFEF;
}

a .desc{
    margin-left: 0.5em;
}
#sovet {background-color: #dddddd; box-shadow: 0 0 15px -10px #ddd inset; border: 1px solid #ddd;}
#sovet a{
    color: black;
}
#sovet h4{
    background-color: #2956b2;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    color: white;
}
div[id^=sovet]:not(:last-child){
    text-align: center;
    margin-bottom: 1.5em;
    border-bottom: 0.1em solid #2956b2;
}
h4{
    text-align: center;
}

.elastislide-carousel h3{
    background-color: #2956b2;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.elastislide-carousel {
    background-color: #dddddd;
  margin-bottom: 1.5em;
 box-shadow: 0 0 15px -10px #ddd inset;
 border: 1px solid #ddd;
}
.elastislide-wrapper {
    background-color: #dddddd;
 box-shadow: 0 0 15px -10px #ddd inset;
 border: 1px solid #ddd;
}
.elastislide-carousel ul li {
    background-color: white;
    margin-right: 1em;
}

/* slider elastic */
/* Elastislide Style */
#our_doors {
    padding-right: 0;
    padding-left: 0;
}

#our_doors h3{
  font-size: 1.3em;
}

.es-nav span{
    position:absolute;
    top:50%;
    left:12px;
    background:transparent url(/assets/nav.png) no-repeat top left;
    width:14px;
    height:26px;
    margin-top:-13px;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.8;
}
.es-nav span.es-nav-next{
    right:12px;
    left:auto;
    background-position:top right;
}
.es-nav span:hover{
    opacity:1.0;
}
/* elastic end */
.zakaz_door{
    background-color: #dddddd;
    margin-bottom: 1.5em;
    padding-right: 0;
    padding-left: 0;
  padding-bottom: 0.8em;
 box-shadow: 0 0 15px -10px #ddd inset;
 border: 1px solid #ddd;

}
.zakaz_door h3{
    background-color: #2956b2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.3em;
}
/* PRODUCT PAGE */

#products {
  width: inherit;
  height: inherit;
}

.product-list-item {
  height: 10em;
  margin-bottom: 4.5em;
}

.panel-heading h3{
  color: white;
}
.panel-body{
  z-index: 999;
  overflow: hidden;
}
.panel-foot {
  background-color: #2956b2;
  color: white;
  height: 3em;
}
#more_foot{
  height: 3em;
  overflow: hidden;
}
#more_foot:hover{
  position: relative;
  top: -3em;
}

.panel-body a{
  text-decoration: none;
  color: #000;
}
.panel-body a:hover{
  color: #2956b2;
  text-decoration: underline;
}

p.pr_name a{
  color: black;
}

p.pr_name a:hover{
  color: #2956b2;
}

#breadcrumbs {
   display: none;
 }

.btn-success{
  background-color: #2956b2;
}
.btn-success:hover{
  background-color: #2956b2;
  opacity: 0.7;
}
.btn-success:active {
  background-color: #2956b2;
  opacity: 0.4;
}

#checkout-summary {
  background-color: #ffffff;
}

#main .caption h3{
  font-weight: bold;
  font-size: 1.3em;
}
/* delivery */
.door_delivery{
  margin-bottom: 1.5em;
}

.door_delivery h3{
  margin-bottom: 0;
}
.door_delivery p{
  background-color: #dddddd;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  line-height: 1.5em;
  padding-right: 0.7em;
   box-shadow: 0 0 15px -10px #ddd inset;
   border: 1px solid #ddd;
}
.door_delivery strong{
  font-weight: bold;
}
.door_delivery strong:last-child{
  font-size: 1.2em;
  text-align: center;
}
#main_delivery .table {
  background-color:#EFEFEF;
}
#main_delivery .table th{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: bold;
}

/* Zamer page styles */
.call_zamer{
  margin-bottom: 1.5em;
}
.call_zamer ul{
  padding-left: 1.5em;
  list-style-type: disc;
}
.call_zamer li{
  text-indent: 1em;
  padding-bottom: 1.5em;
}

.modal-body {
  background-color: #EFEFEF;
}

#cart_container{
  background-color: #dddddd;
  color: white;
   box-shadow: 0 0 15px -10px #ddd inset;
   border: 1px solid #ddd;
}

.door_article {
    border-bottom: 0.2em dotted #2956b2;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
}
.table-responsive {
  background-color: white;
}
#update-cart .cart-total td{
  background-color: white;
}
#methods h4{
  font-weight: bold;
}
#save_continue_btn{
  border:none;
  background-color: inherit;
}
#summary-order-total, .summary-order-total, #order_total{
  font-size: 1em;
}
#order{
  background-color: white;
}
#order_summary h1{
  margin-bottom: 0;
}
.steps-data h4{
  text-decoration: underline;
  padding-top: 1em;
  text-align: left;
  font-weight: bold;
  padding-bottom: 1em;
}

#main_news {
  background-color: #dddddd;
   box-shadow: 0 0 15px -10px #ddd inset;
   border: 1px solid #ddd;
}
.clearfix:before,
.clearfix:after {
   content: '\0020';
   display: block;
   overflow: hidden;
   visibility: hidden;
   width: 0;
   height: 0;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.news_article a{
    font-size: 1.1em;
    color: #2956b2;
}
/* FOOTER OBRATNAYA SVYAZ BEGIN*/


#form_obr_svyaz label.control-label{ 
  padding-right: 0;
}

#form_obr_svyaz #text{
  margin-bottom: 1em;
}

/* FOOTER OBRATNAYA SVYAZ END*/

/* Review page styles begin */

.otziv_block {
  margin-bottom: 1.5em;
  position: relative;
  padding: 2em;
  background: white;
  border-radius: 0.3em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.20);
  border: 1px solid #ddd;
}
.otziv_block img{
  position: absolute;
  top: 1em;
  right: 5em;
}
.otziv_block p.title{
  font-weight: bold;
  font-size: 1.2em;
}
.otziv_block p.date{
  color: #2956b2;
  font-size: 1.2em;
}
.otziv_block p.text{
  font-style: italic;
}
#otziv_page_desc {
  margin-bottom: 1.5em;
}
#otziv_page_desc h3{
  margin-bottom: 0em;
}

#otziv_page_desc p#page_desc{
  padding: 1em;
}




/* Review page styles end */