<div id="foot" class="col-sm-12">
<footer>

    <div id="about_us" class="col-sm-4">
    <h3>Наши контакты</h3>
        <adress>
        <strong>Expo Doors</strong></br>
        Адрес: Lorem ipsum, d.6, str 7</br>
        <abbr title="Телефоны">Телефоны</abbr>: +7(999)8008978</br>
        <span>+7(999)8008978</span></br>
         <a href="mailto:#">totorie@gmail.com</a>
        </adress> 
    </div>
    <div id="we_are_here" class="col-sm-4">
    <h3>Схема проезда</h3>
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=_eeJCLE7VcnE0qbnWWHuTkvLYKZPAJFj&width=340&height=220" ></script>
        
    </div>
    
        <div id="mail_our" class="col-sm-4">
    <h3>Обратная связь</h3>
        <form role="form" class="form-horizontal">
   <div class="form-group">
      <label for="name" class="control-label col-sm-2">Имя</label>	
	  <div class="col-sm-10">
         <input name="name" type="text"  class="form-control" placeholder="Имя"/> 
	  </div>
   </div>
   <div class="form-group">
      <label for="email" class="control-label col-sm-2" >Email</label>	  
	  <div class="col-sm-10">
         <input name="email" type="email" class="form-control" placeholder="Email"/> 
	  </div>
   </div>
   <div class="form-group">
           <textarea class="form-control" rows="3" placeholder="Текст сообщения"></textarea>
      
         <input type="submit" class="btn btn-info pull-right" value="Отправить" />
 
   </div>
</form>
        </div>
    
</footer>
    </div>