<!--about delivery -->
<div id="main_delivery">
  <div class="door_delivery">
    <h3>Доставка</h3>
    <p>Наша компания осуществляет доставку выбранной Вами продукции. </br>
      Доставка осуществляется обычно в течение <strong>одних суток</strong> или в любое <strong>удобное для Вас время.</strong></br>
      На автомобилях установлено специальное крепежное оборудование позволяющее доставлять двери без повреждений.
      Наши опытные водители доставят ваш заказ по любому указанному Вами адресу Москвы.</br>
      Возможна так же доставка по Московской области.</br>
      Доставка товара в другие города России осуществляется с помощью транспортных компаний.</br>
      Условия отправки уточняйте у наших менеджеров.</br>
      <strong>Приятных Вам покупок!</strong>
    </p>
    </div>
    <!--delivery price table-->
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Доставка</th>
        <th>Стоимость</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Доставка по Москве до подъезда*</td>
        <td>999 руб.</td>
      </tr>
      <tr>
        <td>Доставка по Московской области</td>
        <td>1100 руб. + 30 руб./км от МКАД</td>
      </tr>
      <tr>
        <td>Доставка в регионы России&nbsp;</td>
        <td>Уточняйте у менеджера</td>
      </tr>
      <tr>
        <td>Подъем на лифте одного комплекта</td>
        <td>100 рублей</td>
      </tr>
      <tr>
        <td>Подъем без лифта</td>
        <td>100 рублей/этаж</td>
      </tr>
      </tbody>
    </table>
    <p>*Если в заказе только одна дверь то доставка (до подъезда) по Москве - 1200 рублей.</p>

  </div>
  </div>
  <!--about delivery end-->