<div class="call_zamer thumbnail">
<h3>Вызов замерщика</h3>
<ul>
  <li>Замер осуществляется квалифицированными мастерами, которые выполняют установку дверей. Вам ничего не потребуется делать самим, мастер поможет определится с типом дверей - раздвижные двери купе, гармошки, книжки или распашные, какие материалы нужно заказать для качественного монтажа. Как лучше и экономичнее установить дверь.</li>
  <li>После замера и консультации вы можете сделать предоплату за двери. Мастер оформит вам договор и квитанцию на оплату. Менеджер подготовит спецификацию и вышлет для утверждения на электронную почту. Свяжется с Вами для уточнения всех деталей заказа, сроков поставки и даты установки дверей, с учетом всех пожеланий и требований.</li>
  <li>Вызов мастера обойдется в 500 рублей по Москве. По области чуть дороже, по взаимной договоренности с мастером, в зависимости от удаленности вашего дома от МКАД, транспортной доступности и стоимости проезда на автотранспорте. При оформлении заказа, базовая стоимость замера (500 рублей) учитывается как предоплата за заказ, за исключением случаев, когда в заказе не более 2 дверей.</li>
</ul>
  </div>
<div class="modal-body thumbnail">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputName" class="col-sm-3 control-label">Ваше Имя</label>
      <div class="col-sm-9">
        <input type="name" class="form-control" id="inputName" placeholder="Ваше Имя">
      </div>
    </div>
    <div class="form-group">
      <label for="inputTel" class="col-sm-3 control-label">Телефон</label>
      <div class="col-sm-9">
        <input type="text" id="UserMobile" maxlength="11" data-fv-numeric="true" data-fv-numeric-message="Пожалуйста введите правильный номер" data-fv-phone-country11="IN" required="required" data-fv-notempty-message="This field cannot be left blank." placeholder="Номер телефона " class="form-control" name="data[User][mobile]" data-fv-field="data[User][mobile]">
      </div>
    </div>
      <button type="submit" class="btn btn-success pull-right">Отправить</button>

      </form>
    </div>
